#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
#videoOverlay {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

#teams {
  background-image: url("../image/Graphics/nba.jpg");
  transition: background-image 0.1;
  background-size: cover; /* Ensure the background image covers the section */
  background-position: center; /* Center the background image */
  pointer-events: none;
  opacity: 60;
  transition-timing-function: cubic-bezier(0.5, 0.15, 0.15, 0.5);
}

.card-hover {
  transition: transform 0.3s ease;
  pointer-events: auto;
}

.card-hover:hover ~ #backgroundSection {
  transform: scale(1.5);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: -0.3rem;
}

.swiper-button-next {
  right: -0.3rem;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .container {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -0.5rem;
  }
  .swiper-button-next {
    right: -0.5rem;
  }
}
